.ck-content ul,
.ck-content ol {
  @apply pl-[26px];
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
  font-size: revert;
  font-weight: revert;
}

.ck-content {
  @apply min-h-[320px];
}

.ck-content.ck-read-only {
  @apply px-0;
  @apply min-h-0;
  @apply border-none;
}

.ck.ck-editor__main > .ck-editor__editable.ck-focused {
  @apply border-gray-400 shadow-none;
}

.ck-content a {
  @apply text-blue-700;
}
