@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@layer base {
  html {
    font-family: 'NanumSquare', system-ui, sans-serif;
  }
}

.font-nanum {
  font-family: 'NanumSquare', system-ui, sans-serif;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
